body{
  background: #fff !important;
}
.block-cart .block-minicart{
    left: -209px;
    margin: 2px 0 0;
    padding: 5px 8px;
    top: 34px;
    width: 338px;
}
.block-cart .actions{
    border-bottom: none;
}
.dropdown-menu{display:block;}
.pricescroll{
    position: fixed;
    right: -15px;
    z-index: 1;
}
/*home lista 5 produto*/
@media (min-width: 992px) {
    .cms-home .products-grid .item{
        width: 20%;
    }
}
