body{
  background: #fff !important;
}
.top-cart .block-title {
  background: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  padding: 0;
  text-transform: none;
  height: auto;
}
.top-cart .block-title.expanded strong {
  color: #444;
}
.top-cart .block-content {
  top: 38px;
  line-height: normal;
  background: none;
  text-align: left;
  position: absolute;
  width: 320px;
  z-index: 100001;
  right: 0;
  display: none;
}
.top-cart .block-content ol {
  padding-bottom: 0;
  margin-bottom: 0;
}
.top-cart .block-content .item {
  padding: 10px 0;
}
.top-cart .block-content .item .product-name {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 5px;
}
.top-cart .block-content .item .product-name a {
  font-size: 12px;
}
.top-cart .block-content .item .product-name a:hover {
  color: #428bca;
}
.top-cart .block-content table {
  margin: 5px 0;
}
.top-cart .block-content table th {
  text-align: left;
}
.top-cart .block-content .subtotal {
  background: none;
  padding: 0;
  text-align: right;
}
.top-cart .block-content .subtotal .label {
  color: #444;
  font-size: 12px;
}
.top-cart .inner-wrapper {
  border-color: #DDD;
}
.top-cart .cart-empty {
  padding: 15px;
}
.top-cart .panel-heading {
  position: relative;
}
.top-cart .panel-heading .glyphicon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
}
.top-cart .actions {
  background: none;
  padding: 0;
}
.mini-products-list .product-details .btn-edit,.mini-products-list .product-details .btn-remove {
font-size: 12px;
width: 38%;
display: inline;
}
.top-cart .block-content.open{display: block}
.pricescroll{
    position: fixed;
    right: -15px;
    z-index: 1;
}
.seal-product-all{position: absolute;right: 5px;width: 70px;}
.seal-product-all span {background: none repeat scroll 0 0 #2C2C2C;float: left;font-size: 13px;height: 35px;margin: 5px 0;position: relative;width: 64.6px;}
.seal-product-all span::before {border-bottom: 0.4em solid rgba(0, 0, 0, 0);border-left: 0.4em solid #2C2C2C;bottom: -0.4em;content: "";height: 0;position: absolute;right: 0.1em;width: 0;}
.more-views a.elevatezoom-gallery.active img{border:1px solid #FF0000;}
/*home lista 5 produto*/
@media (min-width: 992px) {
    .cms-home .products-grid .item{
        width: 20%;
    }
}