body{
  background: #fff !important;
}
.block-cart .dropdown-minicart{
    position: absolute;
    right: -1px;
    top: 34px;
    width: 250px;
    z-index: 9991;
}
.block-cart .actions{
    border-bottom: none;
}
.block-cart .dropdown-minicart {
  padding: 5px 8px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
/*home lista 5 produto*/
@media (min-width: 992px) {
    .cms-home .products-grid .item{
        width: 20%;
    }
}

